html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
  :root {

    --theme-primary: #252836;
    --theme-text: #FCFCFC;
    --theme-secondary: #1F1D2B;
    --theme-highlight:#EA7C69;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  body{
    background-color: var(--theme-primary);
  }

main{
  margin-left:80px;
  padding:1em;
}
